@import url('../../index.css');

.home-header {
  top: 20%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  background-color: transparent;
}

.home-body-container{
  background-color: #dd2324;
  height: 90%;
}

.home-header-wrapper {
  position: relative;
  width: 100%;
  
  overflow: hidden;
  margin-bottom: 40px;
}

/* Imagen de fondo posicionada detrás */
.background-home-image {
  position: absolute;
  right: 0;
  top: 30px;
  width: auto;
  height: 70%;
  object-fit: cover;
  z-index: 1;
  pointer-events: none;
  opacity: 30%;
}

.home-content {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-subtext {
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  user-select: none;
  font-weight: 300;
  font-size: 20px;
}

.home-text{
    margin-top: 10px;
    height: 50px;
    user-select: none;
}

.home-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  height: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

#user-name-home {
  color: #fff;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .home-subtext {
    font-size: 16px; /* se hace más pequeño en pantallas chicas */
  }

  .home-text h1 {
    font-size: 28px; /* bajamos de 40px a 28px */
  }

  .home-text {
    height: auto; /* que se ajuste a contenido si el texto crece */
  }

  #user-name-home {
    font-size: 28px; /* si quieres reducir también este */
  }
}

@media (max-width: 480px) {
  .home-subtext {
    font-size: 14px;
  }

  .home-text h1 {
    font-size: 24px;
  }

  #user-name-home {
    font-size: 24px;
  }
}

